services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: imobiliaria
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    restart: always
    environment:
      DATABASE_URL: "postgresql+psycopg2://postgres:postgres@db:5432/imobiliaria"
    volumes:
      - ./:/app
    command: ["python", "app.py"]

volumes:
  pgdata: